@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Allura&family=Bubblegum+Sans&family=Corinthia&family=Handlee&family=IM+Fell+French+Canon+SC&family=Lato&family=Monoton&family=Roboto&display=swap');


* {
    padding: 0;
    margin: 0;
}

/* Header */
header {
    background-color: rgba(35, 28, 26, 0.8);
    display: grid;
    grid-template-columns: 150px auto;
}


img.logo {
    width: 80px;
    background-color: #A89568;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav a {
    text-align: center;
    color: #EBEBEB;
    text-decoration: none;
    padding: 35px;
    font-size: 20px;
}

nav a:hover {
    background-color: #E5E5E5;
    color: #FCA311;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#cake-img {
    width: 100%;
}

h1 {
    color: #E5E5E5;
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    font-family: 'Agbalumo', 'Bradley Hand', sans-serif;
}

header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}

header li {
    display: inline;
    margin-right: 4vw;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.news {
    background-color: antiquewhite;
    color: #1D3557;
    height: 300px;
    background-image: url("images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news h2 {
    font-size: 100px;
    margin-top: 60px;
    font-family: 'Corinthia', 'Bradley Hand', sans-serif;
}

.news p {
    color: #1D3557;
    font-size: 40px;
    margin: 25px 0;
    font-family: 'Allura', 'Bradley Hand', sans-serif;
}

.contact h2 {
    font-size: 150px;
    margin-top: 150px;
    font-family: 'Corinthia', 'Bradley Hand', sans-serif;
}

.contact h4 {
    color: #1D3557;
    font-size: 30px;
    margin: 25px 0;
}

.contact p {
    color: #1D3557;
    font-size: 25px;
    margin: 25px 0;
}

.contact {
    background-color: antiquewhite;
    color: #1D3557;
    height: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.news a {
    color: #1D3557;
    text-decoration: none;
    border: 1px solid #ACACAC;
    padding: 10px 20px;
    border-radius: 5px;
}

.welcome-msg {
    background-color: #485652;
    color: white;
    height: auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 20px;
    line-height: 1.5em;
    padding: 20px;
}


.card-img1,
.card-img2,
.card-img3,
.card-img4,
.card-img5 {
    margin: 50px 50px;
    float: left;
    width: 500px;
    height: 300px;

}

.heading1 {
    color: white;
    font-family: 'Merriweather', sans-serif;
    padding: 20px;
    font-size: 40px;
}

.msg1,
.msg2,
.msg3,
.msg4,
.msg5,
.msg6 {
    width: 100%;
    /* height: 50px; */
    margin: 0;
    color: #FCA311;
    font-family: 'Lato', sans-serif;
}

.shop {
    display: grid;
    grid-template-columns: auto;
}

.shop img {
    grid-column: 3/4;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}

.info {
    width: auto;
    background-color: white;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 0;
}

.info h2 {
    grid-column: 1/2;
    text-align: center;
    font-size: 40px;
    font-family: 'Handlee', 'Bradley Hand', sans-serif;
}

.info p {
    grid-column: 1/2;
    text-align: center;
    line-height: 2em;
    font-size: 25px;
    padding: 20px;
    font-family: 'Handlee', 'Bradley Hand', sans-serif;
}

.product {
    display: flex;
    background-color: antiquewhite;
    justify-content: space-between;
    align-items: center;
    padding: 100px 180px 80px;
}

.product div {
    width: 300px;
    text-align: center;
}

.product img {
    width: 100%;
    border-radius: 10px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.product img:hover {
    opacity: .6;
    transform: scale(1.1);
}


.product h3 {
    font-size: 30px;
    margin: 20px 0;
}

.product p {
    font-size: 14px;
    line-height: 1.6em;
}

.newsletter {
    background-color: #485652;
    color: white;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter p {
    margin-bottom: 20px;
    font-size: 30px;
}

.newsletter input,
.newsletter button {
    background-color: transparent;
    color: white;
    border: 1px solid #949d9a;
    padding: 10px;
    border-radius: 5px;
    ;
}

.newsletter input {
    width: 200px;
    margin-right: 15px;
    ;
}

.newsletter button {
    width: 80px;
    cursor: pointer;
}

input::placeholder {
    color: #DDDDDD;
}

input:focus {
    outline: none;
    border-color: #E0E9A3;
}

footer {
    background-color: #1D3557;
    color: #B7B7B7;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    padding: 25px 50px;
    margin-top: 0px;
}

footer p {
    font-size: 1.5em;
    color: #EBEBEB;
}


footer .social img {
    padding-top: 15px;
    width: 50px;
    display: inline-block;
}

footer h3 {
    color: #EBEBEB;
}

footer a {
    color: #EBEBEB;
    text-decoration: none;
}

footer a:hover {
    color: #E5E5E5;
    text-decoration: underline;
}

.menu {
    display: none;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    /* Form outline */
    padding: 1em;
    border: 5px solid #6f7364;
    border-radius: 1em;
    color: #EBEBEB;
    /* test */
    background-color: #6f7364;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    /*font: 1em sans-serif;*/
    font-family: Roboto, Arial, sans-serif;
    font-size: 1em;
    color: #01377A;

    /* Uniform text field size */
    width: 400px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #EBEBEB;
}

input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #794CB8;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
}

.button {
    /* Align buttons with the text fields */
    /*padding-left: 90px;  same size as the label elements */
    text-align: center;
}


/* button {
    This extra margin represent roughly the same space as the space between the labels and their text fields margin-left: 0.5em;
} */


#feedback {
    background-color: antiquewhite;
    /*position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    padding: 4em;
    /* make this element invisible until we are ready for it
    display: none;*/
    align-self: center;
    justify-self: center;
    /*margin-top: 200px; test */
    /*margin-bottom: -100px; test */
}

#contact-msg {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
    color: blue;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}

#contact-msg h1 {
    text-align: center;
}


* {
    box-sizing: border-box;
    grid-column: 1/2;
}

/* Slideshow container */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
    background-color: antiquewhite;
    grid-template-columns: 1fr 1fr;
}

/* Hide the images by default */
.mySlides {
    display: grid;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}



















@media screen and (max-width: 768px) {
    header ul {
        display: none;
    }

    header h1 {
        left: 50%;
        transform: translateX(-50%);
    }

    .news h2,
    .news h4 {
        font-size: 40px;
        color: #1D3557;
    }

    .menu {
        display: block;
        background-color: transparent;
        color: white;
        font-size: 35px;
        position: absolute;
        top: 15px;
        left: 20px;
        border: none;
        cursor: pointer;
    }

    .shop {
        flex-direction: column;
    }

    .shop img {
        grid-column: 3/4;
        width: 100%;
    }

    .info {
        width: 100%;
        padding: 40px 0;
    }

    .info h2 {
        font-size: 30px;
    }

    .product {
        flex-direction: column;
        padding: 60px 0;
    }

    .product div {
        margin-bottom: 30px;
    }
}